::ng-deep .dark-modal .modal-content {
    background-color: #000000;
    color: white;
    background: none;
    border: none;
}

 ::ng-deep .dark-modal .modal-header {
    border: none
}

 ::ng-deep .dark-modal .close {
    color: white;
}

iframe {
    height: 200px;
    width: 346.6px;
}

@media(min-width: 528px) {
    iframe {
        height: 280px;
        width: 485px;
    }
}

@media(min-width: 992px) {
    iframe {
        height: 450px;
        width: 780px;
    }
}
