<section class="bg-half-260 w-100 d-table" data-jarallax='{"speed": 0.5}'
    style="background: url('assets/images/hotel/eventoPortada2.jpg') center center; background-size: 100% 100%;"
    id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="title-heading">
                    <h1 class="display-4 title-dark text-white fw-bold mb-3">Eventos En Celso Garro Valderrama</h1>
                    <h3 class="para-desc title-dark mx-auto text-light" style="font-size: x-large;">En Celso Garro
                        Valderrama contamos con áreas comunes idóneas para organizar y celebrar diferentes tipos de
                        eventos. Nuestros años de experiencia en el rubro nos avalan para ofrecerte las condiciones que
                        son requeridas por los clientes
                        mas exigentes.</h3>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section border-top">
    <div class="container">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b04.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">Matrimonios & Ceremonias</h1>
                        <p style="font-size: large;">Start working with Landrick that can provide everything you need to
                            generate awareness, drive traffic, connect. Launch your campaign and benefit from our
                            expertise on designing and managing conversion centered bootstrap4 html page
                            managing conversion centered bootstrap4 html page.</p>
                        <div class="mt-4 pt-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b03.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">Eventos De Confraternidad</h1>
                        <p style="font-size: large;">Start working with Landrick that can provide everything you need to
                            generate awareness, drive traffic, connect. Launch your campaign and benefit from our
                            expertise on designing and managing conversion centered bootstrap4 html page
                            managing conversion centered bootstrap4 html page.</p>
                        <div class="mt-4 pt-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b02.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">Reuniones Familiares</h1>
                        <p style="font-size: large;">Start working with Landrick that can provide everything you need to
                            generate awareness, drive traffic, connect. Launch your campaign and benefit from our
                            expertise on designing and managing conversion centered bootstrap4 html page
                            managing conversion centered bootstrap4 html page.</p>
                        <div class="mt-4 pt-2">
                            > -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">Almuerzos & Cenas</h1>
                        <p style="font-size: large;">Start working with Landrick that can provide everything you need to
                            generate awareness, drive traffic, connect. Launch your campaign and benefit from our
                            expertise on designing and managing conversion centered bootstrap4 html page
                            managing conversion centered bootstrap4 html page.</p>
                        <div class="mt-4 pt-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section bg-cta" data-jarallax='{"speed": 0.5}'
    style="background: url('assets/images/event/eventoVideo.jpg') center center; background-size: 100% 200%;" id="cta">
    <div class="bg-overlay bg-primary bg-gradient" style="opacity: 0.8;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class=" title-dark mb-4" style="color: blue;">Los eventos que organizamos en Celso Garro
                        Valderrama</h1>
                    <h3 style="font-size: x-large; color: blue;">Contacte con nosotros para poder organizar los eventos
                        de su interes</h3>
                    <a (click)="openWindowCustomClass(content)" href="javascript:void(0);"
                        class="play-btn border border-light mt-4 video-play-icon">
                        <i-feather name="play" class="fea icon-ex-md text-white title-dark"></i-feather>
                    </a>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <iframe src="https://www.youtube.com/embed/4CkglWtdtn8" width="780" height="415"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<section class="section bg-light">
    <div class="container">

        <app-cartillas [cartillaData]="cartillaData"></app-cartillas>
    </div>


</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-footer">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>