<!-- Hero Start -->
    <section class="bg-half d-table w-100" id="home" style="background: url('assets/images/hotel/aliadosMinedu.jpg'); background-size: 100% 100%;">    
        <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="title-heading">
                    <h1 class="display-4 title-dark text-white fw-bold mb-3">Aliados Estrategicos</h1>
                    <h3 class="para-desc title-dark mx-auto text-light" style="font-size: x-large;">Colaboracion para el crecimiento y el desarrollo de nuestra institución
                        .</h3>

             

                </div>
            </div>
            
        </div>
        
    </div>
    <!--end container-->
</section>

<section class="section border-top">
    <div class="container">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/fotosaliados/HuastaFoto.jpg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h2 class="mb-4">MUNICIPALIDAD DISTRITAL DE HUASTA</h2>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, maxime! Cupiditate numquam et quaerat nisi optio dolore aut qui exercitationem, iure soluta error autem beatae, nostrum at nihil, impedit unde!.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver más <i
                  class="mdi mdi-chevron-right"></i></a>  -->
                        <a href="http://munihuasta.gob.pe/" target="_blank" class="btn btn-outline-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <!--end container-->
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b03.jpg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">MUNICIPALIDAD DEL CENTRO POBLADO DE PAMPAN</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum, voluptatem inventore numquam neque repudiandae eum officiis ullam placeat, asperiores veniam sequi quis. Ut, harum suscipit in vero nostrum quibusdam..</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <!--end container-->
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b02.jpg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">QALIWARMA</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ad odit quaerat dolorum aliquid culpa sapiente cum sint non, itaque, doloribus perspiciatis praesentium ea necessitatibus alias quod, exercitationem laudantium nobis!.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <!--end container-->
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">PUESTO DE SALUD DE HUASTA</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam corrupti architecto illum ipsum nihil reiciendis, animi optio iure qui, incidunt repellat aliquid, assumenda soluta perferendis ex dolores beatae placeat? Voluptatum?.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">CEM</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam corrupti architecto illum ipsum nihil reiciendis, animi optio iure qui, incidunt repellat aliquid, assumenda soluta perferendis ex dolores beatae placeat? Voluptatum?.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">PNP</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam corrupti architecto illum ipsum nihil reiciendis, animi optio iure qui, incidunt repellat aliquid, assumenda soluta perferendis ex dolores beatae placeat? Voluptatum?.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">APAFA</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam corrupti architecto illum ipsum nihil reiciendis, animi optio iure qui, incidunt repellat aliquid, assumenda soluta perferendis ex dolores beatae placeat? Voluptatum?.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/event/b05.jpeg" class="img-fluid" alt="">
                </div>
                <!--end col-->
                <div class="col-lg-6">
                    <div class="card-body section-title p-md-5">
                        <h1 class="mb-4">MUNICIPIO ESCOLAR</h1>
                        <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam corrupti architecto illum ipsum nihil reiciendis, animi optio iure qui, incidunt repellat aliquid, assumenda soluta perferendis ex dolores beatae placeat? Voluptatum?.</p>
                        <div class="mt-4 pt-2">
                            <!-- <a href="javascript:void(0)" class="btn btn-outline-primary">Ver detalle <i
                  class="mdi mdi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end card-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- About End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>

<section class="section bg-cta" data-jarallax='{"speed": 0.5}' style="background: url('assets/images/event/eventoVideo.jpg') center center; background-size: 100% 200%;" id="cta">
    <div class="bg-overlay bg-primary bg-gradient" style="opacity: 0.8;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class=" title-dark mb-4" style="color: blue;">Los eventos que organizamos en Celso Garro Valderrama</h1>
                    <h3 style="font-size: x-large; color: blue;">Contacte con nosotros para poder organizar los eventos de su interes</h3>
                    <a (click)="openWindowCustomClass(content)" href="javascript:void(0);" class="play-btn border border-light mt-4 video-play-icon">
                        <i-feather name="play" class="fea icon-ex-md text-white title-dark"></i-feather>
                    </a>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <!-- <iframe src="https://player.vimeo.com/video/12022651" height="450" width="780" frameborder="0"
                allowfullscreen allow="autoplay; encrypted-media"></iframe> -->
                            <iframe src="https://www.youtube.com/embed/4CkglWtdtn8" width="780" height="415" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </ng-template>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>
<!--Shape End-->

<!-- News Start -->
<section class="section bg-light">
    <div class="container">
       
        <app-cartillas [cartillaData]="cartillaData"></app-cartillas>
    </div>

   
</section>
<!--end section-->
<!-- End News -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-footer">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>
<!--Shape End-->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
